@font-face {
    font-family: 'Lovelo';
    src: url('../fonts/Lovelo Black.otf');
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url("../fonts/FontsFree-Net-Poppins-Medium.ttf");
}

body, html{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #030303 #ffffff;
}

  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #030303;
    border-radius: 19px;
    border: 3px solid #ffffff;
}

/* Formatando a Header */

header{
    height: 5vh;
    background-color: #D9D9D9;
}

/* Formatando o topo da Header */
 
.header-top{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #D9D9D9;
}

.header-top img{
    width: 60px;

    padding-left: 50px;
}

.header-top ul{
    list-style-type: none;
    display: flex;
    font-family: PoppinsMedium;
    font-size: 14px;
    padding-right: 30px;
}

.header-top li{
    padding-right: 20px;
    color: #252525;
    letter-spacing: 0.5px;
}

.header-top li a{
    text-decoration: none;
    color: #252525;

    position: relative;
}

.header-top nav ul li a:after{
    content: "";
    position: absolute;
    background-color: #EDA43D;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.header-top nav ul li a:hover{
    color: black;
}

.header-top nav ul li a:hover:after{
    width: 100%;
}

/* Menu Responsivo */

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 20px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* Início do Ativo */

.active{
    text-decoration: none;
    color: #000000;

    position: relative;
}

.active:after{
    content: "";
    position: absolute;
    background-color: #EDA43D;
    height: 3px;
    width: 75%;
    left: 0;
    bottom: -9px;
}

.active:hover:after{
    width: 0;
}

/* Fim do Ativo*/

.span1{
    color: red;
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% { opacity: 0; }

    50% { opacity: 0.7; }

    100% { opacity: 0; }
}

.header-top #divisor{
    background-color: #474747;
    height: 17px;
    width: 1.5px;

    padding: 0;
    margin-right: 20px;
}

.header-top #divisor{
    background-color: #474747;
    height: 17px;
    width: 1.5px;

    padding: 0;
    margin-right: 20px;
}

/* Forms */

.bodycontent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 6rem;
    padding-bottom: 1.7rem;
}

.bodycontent-titulo i{
    display: flex;
    justify-content: center;
    line-height: 0.5rem;
    font-size: 2.3rem;
}

.bodycontent-titulo h1{
    font-size: 2.5rem;
    color: #000;
    font-family: Lovelo;
    letter-spacing: -3px;

    margin-bottom: 2rem;
    text-align: center;
    line-height: 2rem;
}

.bodycontent-form{
    width: 100%;
    max-width: 40%;
    font-size: 1rem;
    font-family: PoppinsMedium;
}

.bodycontent-form label,
.bodycontent-form input,
.bodycontent-form textarea,
.bodycontent-form button{
    display: block;
    width: 100%;
}

.bodycontent-form input{
    caret-color: #925704;
}

.bodycontent-form label{
    color:#000;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.bodycontent-form input,
.bodycontent-form textarea{
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    border-color: #EDA43D;
    transition: border-color, box-shadow 0.2s;
}

.bodycontent-form textarea{
    min-height: 13rem;
    resize: vertical;
}

.bodycontent-form input:hover,
.bodycontent-form input:focus,
.bodycontent-form textarea:hover,
.bodycontent-form textarea:focus{
    outline: none;
    border-color: #b66b01;
    box-shadow: 0, 0, 0, 3px #4dc8ff;
}

.bodycontent-form button{
    display: block;
    height: 55px;
    width: 105.5%;
    background-color: #EDA43D;

    color: #fff;
    font: inherit;
    text-transform: uppercase;
    
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.bodycontent-form button:hover,
.bodycontent-form button:focus{
    outline: none;
    background: #ee900c;
}

#btnTop{
    text-decoration: none;
    color: white;
    background-color: #0a3753be;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    transition: .3s;
    border-radius: 15px;
}

#btnTop:hover{
    background-color: #2673A5;
    transform: scale(1.03);
}

/* Footer */

footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #474747;
}

footer img{
    width: 200px;
    height: 180px;
    padding-top: 50px;
    padding-bottom: 40px;
}

footer .column{
    display: flex;
    flex-direction: column;
}

footer .column ul{
    list-style-type: none;
    padding-top: 80px;
}

footer .li-título{
    font-size: 16px;
    color: white;
    font-family: PoppinsMedium;
    user-select: none;
}

footer .column ul li a{
    font-size: 14px;
    font-family: PoppinsMedium;
    text-decoration: none;
    color: #a3a3a3;
    transition: 0.2s all ease;
}

footer .column ul li a:hover{
    color: #f1bc70;
}

footer .column ul li a i{
    padding-left: 5px;
}

footer .footer-redes{
    padding-top: 100px;
}

footer .footer-redes a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

footer .footer-redes a{
    display: inline-flex;
    width: 50px;
    height: 50px;
    background-color: #a3a3a3;
    color: white;
    margin: 0 6px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: 0.3s all ease;
}

footer .footer-redes a:hover{
    background: #f39410;
}

footer .footer-redes a:hover > i{
    transition: 0.4s all;
}

footer .footer-redes a:hover > .fa-instagram,
footer .footer-redes a:hover > .fa-envelope{
    transform: scale(1.1) rotate(-10deg);
}


footer .footer-redes a:hover > .fa-youtube,
footer .footer-redes a:hover > .fa-facebook{
    transform: scale(1.1) rotate(10deg);
}

@media (max-width: 858px){
    header{
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .checkbtn{
        display: block;
        padding-right: 20px;
    }

    .header-top nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #D9D9D9;
        top: 66px;
        left: -120%;
        text-align: center;
        transition: all 0.5s;
    }

    .header-top nav ul{
        display: flex;
        flex-direction: column;
    }

    .header-top nav ul li{
        display: block;
        margin: 30px 0;
        padding-right: 50px;
        line-height: 30px;
    }

    .header-top nav ul li:first-child{
        display: none;
    }

    .header-top nav ul li a{
        font-size: 20px;
        color: #252525;
    }

    .header-top nav ul li a:hover{
        color: #000000;
    }

    .header-top #divisor{
        display: none;
    }

    #check:checked ~ ul{
        left: 0;
    }

    .active::after{
        background: none;
    }

    .bodycontent{
        padding-top: 7rem;
    }

    .bodycontent-form{
        max-width: 80%;
    }

    .bodycontent-form button{
        width: 108%;
    }

    .bodycontent-titulo i{
        font-size: 2.2rem;
    }
    
    .bodycontent-titulo h1{
        font-size: 2.3rem;
        line-height: 2rem;
    }

    footer{
        width: 100%;
    }

    footer img{
        display: none;
    }

    footer .column ul{
        padding-top: 34px;
    }

    footer .column ul li,
    footer .column ul li a,
    footer .column ul li i{
        font-size: 11px;
    }

    footer .column ul li i{
        display: none;
    }

    footer .footer-redes{
        display: flex;
        flex-direction: column;
        padding-top: 38px;
        padding-right: 10px;
        padding-bottom: 30px;
    }

    footer .footer-redes a{
        width: 22px;
        height: 22px;
        font-size: 13px;
        margin-top: 3px;
    }

    
    #btnTop,
    #btnTop i{
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        display: none;
    }
}